  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/hotsauces">The Sauces</a>
    <a href="/peppers/new">The Peppers</a>
    <a href="/profiles">Profiles</a>
    <% if (user) { %>
      <a href="/auth/logout">
        <button id="logout-btn" type="submit">Logout</button>
      </a>
    <% } else { %>
      <div id="google-button">
        <a href="/auth/google" class="siwg-link">
          <button type="submit" class="siwg">
            <img id="siwg-image" alt="Sign in with Google" />
          </button>
        </a>
      </div>
    <% } %>
  </nav>