html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  background-color: gray;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}

nav {
  background-color: rgba(255, 0, 0, 0.475);
  font-size: 2.3rem;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 3.6rem;
  color: white;

}

h2 {
  color: white;

}

h3 {
  font-size: 25px;
  color: white;

}

h4{
  font-size: 30px;

}

h5{
  font-size: 20px;
  margin-top: 0;
}

form {
  color: white;
}

button{
  border-radius: 20px;
}

.all-buttons{
  background-color: red;
  color: black;
  font-weight:bold;
  border-color: rgb(116, 0, 0);
}

#home-background-image{
  background: url("/images/hotsauces/general-background.jpg");
  opacity: .2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.sauces-background-image{
    background: url("/images/hotsauces/backgroundOne.jpeg");
    opacity: .2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    text-align: center;
  }

#sauce-listings{
  text-align: left;
  padding-left: 150px;
  }

#hello-msg{
  padding: 0 0 0 0;
  margin: 20px 0 10px 0 ;
}

#welcome-message{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#welcome-message-two{
  padding: 20px 0 0 0;
  margin: 0 0 0 0;
}

#welcome-message-three{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
#welcome-message-four{
  padding: 0 50px 0 50px;
}

#new-sauce-message{
  padding: 30px 0 0 150px;
  border: 0 0 0 0;
  margin: 0 0 0 0;
  text-align: left;
}

#new-sauce-message-two{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

#pepper-background {
    background: url("/images/hotsauces/pepper-background.jpeg");
    opacity: .5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -1;
  }

#logout-btn {
  background-color: rgb(155, 155, 155);
}

#pepper-page{
  padding-top: 100px;
}

#pepper-database{
  padding-top: 50px;
}

#spicy-fire{
  border-radius: 50px;
}

#google-button{
  padding: 0 0 0 0;
}

#avatar-image{
  border-radius: 20px;
}

#sauce-list{
  font-size: 20px;
}





/* this is a bad idea */

#animated-pepper-one{
  position:absolute;
  top:-200px;
  width:1050px;
  padding:2em;
  animation: drop 2s ease forwards;
  animation-iteration-count:infinite;
}

@keyframes drop{
  0%{opacity: 0}
  70%{transform: translateY(200px)}
  100%{transform: translateY(650px)}
}

#animated-pepper-two{
  position:absolute;
  top:-100px;
  width:60%;
  padding:2em;
  animation: drop 4s ease forwards;
  animation-iteration-count:infinite;
}

@keyframes drop{
  0%{opacity: 0}
  70%{transform: translateY(700px)}
  100%{transform: translateY(650px)}
}

#animated-pepper-three{
  position:absolute;
  top:-400px;
  width:95%;
  padding:2em;
  animation: drop 2s ease forwards;
  animation-iteration-count:infinite;
}

@keyframes drop{
  0%{opacity: 0}
  70%{transform: translateY(700px)}
  100%{transform: translateY(650px)}
}

#animated-pepper-four{
  position:absolute;
  top:-400px;
  width:90%;
  padding:2em;
  animation: drop 2s ease forwards;
  animation-iteration-count:infinite;
}

@keyframes drop{
  0%{opacity: 0}
  70%{transform: translateY(700px)}
  100%{transform: translateY(650px)}
}

#animated-pepper-five{
  position:absolute;
  top:-400px;
  width: 777px;;
  padding:2em;
  animation: drop 2s ease forwards;
  animation-iteration-count:infinite;
}

@keyframes drop{
  0%{opacity: 0}
  70%{transform: translateY(700px)}
  100%{transform: translateY(650px)}
}
#animated-pepper-six{
  position:absolute;
  top:-400px;
  width: 850px;;
  padding:2em;
  animation: drop 2s ease forwards;
  animation-iteration-count:infinite;
}

@keyframes drop{
  0%{opacity: 0}
  70%{transform: translateY(700px)}
  100%{transform: translateY(650px)}
}

#animated-pepper-seven{
  position:absolute;
  top:-400px;
  width:250px;
  padding:4em;
  animation: drop 5s ease forwards;
  animation-iteration-count:infinite;
}

@keyframes drop{
  0%{opacity: 0}
  70%{transform: translateY(700px)}
  100%{transform: translateY(650px)}
}

#animated-pepper-eight{
  position:absolute;
  top:-400px;
  width:600px;
  padding:2em;
  animation: drop 6s ease forwards;
  animation-iteration-count:infinite;
}

@keyframes drop{
  0%{opacity: 0}
  70%{transform: translateY(700px)}
  100%{transform: translateY(650px)}
}

#animated-pepper-nine{
  position:absolute;
  top:-400px;
  width:100px;
  padding:2em;
  animation: drop 2s ease forwards;
  animation-iteration-count:infinite;
}

@keyframes drop{
  0%{opacity: 0}
  70%{transform: translateY(700px)}
  100%{transform: translateY(650px)}
}

#animated-pepper-ten{
  position:absolute;
  top:-400px;
  width:950px;
  padding: 4em;
  animation: drop 6s ease backwards;
  animation-iteration-count:infinite;
}

@keyframes drop{
  0%{opacity: 0}
  70%{transform: translateY(700px)}
  100%{transform: translateY(650px)}
}

